<div *ngIf="product" class="mt-3">
  <input type="hidden" #id name="id" [value]="product.productId" >
  <div class="form-group">
    <label for="name">name</label>
    <input [value]="product.name" #name type="text" class="form-control" name="name" />
  </div>
  <div class="form-group">
    <label for="name">price</label>
    <input #price  [value]="product.price"  type="text" class="form-control" name="price" />
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input
        #isactive
        [checked]="product.isActive"
        type="checkbox"
        class="custom-control-input"
        id="isActive"
      />
      <label for="isActive" class="custom-control-label"></label>
    </div>
  </div>
  <button
    class="btn btn-primary"
    (click)="
    addProduct(id.valueAsNumber,name.value, price.valueAsNumber, isactive.checked);
    name.value = '';
    price.value = '';
    isactive.checked = false
  "
  >
    Save Product
  </button>
</div>
